
<header class="header clearfix">
    <h1>Logo</h1>
    <nav class="navbar">
        <ul>
            <li>Tests</li>
            <li>Nav2</li>
            <li>Nav3</li>
        </ul>
    </nav>
    <div class="login">
        <img class="loginElement" src="#" alt="User symbol"/>
        <p class="loginElement">Hello "user"</p>
        <button class="loginElement">Logout</button>
    </div>
</header>
<div class="wrapper">
    <router-outlet></router-outlet>
</div>
<footer class="footer">

</footer>