<div>
    <h2>Test your knowledge [NL - EN]</h2>
    <form action="">
        <label id="labelNL" for="inputNL">NL</label>
        <input type="text" #username class="form-control" id="inputNL" placeholder="Vraag">
        <label id="labelEN" for="inputEN">EN</label>
        <input type="text" #password class="form-control" id="inputEN" placeholder="Answer">
        <p class="progress" id="progress"></p>
        <button type="submit" class="btn btn-default">Next ></button>
    </form>
    <button type="button" class="reset">Stop test</button>
</div>