@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: Roboto sans-serif;
}
h1{
    color: #FFC107;
}
.header, .footer{
    width: 100%;
    height: 5rem;
    background-color: #607D8B;
}