/*--- Common tools --- */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

img {
    display: block;
    margin: 0.5rem;
}
/*--- Reset ---*/
html, body, section, form, div, dl, head, p{
    margin : 0;
    padding : 0;
}
a{
    text-decoration: none;
}
ul {
    display: block;
    list-style: none;
}

fieldset{
    margin: 0;
    padding: 0;
    border: 0;
}

input, select, button{
    text-align: center;
    font-size: 100%;
    border: none;
}

/*--- Common --- */
h1{
    display: block;
    font-size: 5rem;
    margin: 0;
    color: #FFC107;
    float: left;
}
li{
    display: inline-block;
    float: left;
}
nav{
    width: 50%;
}
.header, .footer{
    width: 100%;
    height: 12rem;
    background-color: #607D8B;
}
.wrapper{
    width:80rem;
    margin: 0 auto;
}
.outerWrapper{
    min-height: 20rem;
}
/*--- Logo ---*/
.logo{
    line-height: 10rem;
    font-size: 5rem;
    font-weight: lighter;
}
.logo a{
    color: #FFC107;
}

/*--- Navigation bar ---*/
.navbar{
    margin: 0rem;
    display: inline-block;
    font-size: 3rem;
    height: 10rem;
}

.navbar ul{
    margin: 0;
    height: 10rem;
}
.navbar li{
    height: 4rem;
    line-height: 4rem;
    float: left;
    margin-left: 2rem;
    margin-top: 3rem;
}
.navbar li a {
    display: block;
    height: 4rem;
    width: 100%;
    color: #CFD8DC;
}
.navbar li:hover{
    border-bottom: solid;
    border-color: #FFC107;
}
/*--- Login bar ---*/
.login{
    display: inline-block;
    float: right;
    width: 35%;
    height: 10rem;
}
.loginElement{
    margin-left: 1rem;
    font-size: 2rem;
    line-height: 10rem;
    display: block;
    float: left;
}
.login img{
    margin-top: 3rem;
    width: 4rem;
    height:4rem;
}
.login p{
    color: #CFD8DC;
}
.login button{
    margin-left: 1rem;
    margin-top: 3rem;
    line-height: normal;
    background-color: #FFC107;
    width: 10rem;
    height:4rem;
}
.login button a{
    color: #fff;
}