/*--- Common tools --- */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

img {
    display: block;
    margin: 0.5rem;
}
/*--- Reset ---*/
html, body, section, form, div, dl, head, p{
    margin : 0;
    padding : 0;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
}

fieldset{
    margin: 0;
    padding: 0;
    border: 0;
}

input, select, button{
    text-align: center;
    font-size: 100%;
    border: none;
}

/*--- Common --- */
h1{
    display: block;
    font-size: 3rem;
    margin: 0;
    color: #FFC107;
    float: left;
}
li{
    display: inline-block;
    float: left;
}
nav{
    width: 60%;
    display: block;
}
.header, .footer{
    width: 100%;
    min-height: 3.2rem;
    background-color: #607D8B;
}
.wrapper{
    width:80rem;
    margin: 0 auto;
}
.outerWrapper{
    min-height: 20rem;
}
/*--- Logo ---*/
.logo{
    line-height: 4.5rem;
    font-size: 3rem;
    font-weight: lighter;
}
.logo a{
    color: #FFC107;
}

/*--- Navigation bar ---*/
.navbar{
    display: block;
    font-size: 1.4rem;
    margin-left: 20rem;
    padding-bottom: 3px;
}
.navbar ul{
    margin-left: auto;
}
.navbar li{
    height: 4.5rem;
    line-height: 4.5rem;
    float: left;
    margin-left:2rem;
}
.navbar li a {
    height: 4.5rem;
    width: 100%;
    color: #CFD8DC;
}
.navbar li:hover{
    border-bottom: solid;
    border-color: #FFC107;
}

/*--- Login bar ---*/
.login{
    margin-right: 5rem;
    display: block;
    float: right;
    width: 25%;
    font-size: 1.4rem;
    height: 4.5rem;
}
.loginElement{
    margin-left: 1rem;
    font-size: 1.2rem;
    line-height: 4.5rem;
    display: block;
    float: left;
}
.login img{
    width: 2rem;
    height:2rem;
}
.login p{
    color: #CFD8DC;
}
.login button{
    margin-top: 1.25rem;
    line-height: normal;
    background-color: #FFC107;
    width: 8rem;
    height:2rem;
}
.login button a{
    color: #fff;
}
